.project{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    .projectActual{
        display: flex;
        flex-direction: row;
        width: 40%;
        .txt{
            display: flex;
            flex-direction: column;
            text-align: left;
        }
        .image{
            display: flex;
            align-self: right;
            margin-left: auto;
            margin-right: 0em;
            img{
                border-radius: 25px;
                max-height: 15em;
                align-self: last baseline;
                justify-self: right;
            }
        }
    }
}