.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    .firstRow{
        display: flex;
        flex-direction: row;
        .bioInfo{
            text-align: left;
            width: 20vw;
            align-items: center;
            img{
                padding: 1em;
                border: 2px solid black;
            }
            .links{
                display: flex;
                flex-direction: row;
                a{
                    text-decoration: none;
                    margin: 1em;
                    padding: 0.5em;
                    border: 2px solid black;
                    color: black;
                    border-radius: 50px;
                    margin-left: 0em;
                    &:hover{
                        background-color: black;
                        color: rgb(242, 222, 174);
                        padding-left: 1em;
                        padding-right: 1em;
                        transition: 0.1s all ease-in-out
                    }
                }
            }
        }
        .bio{
            display: none;
        }
        .paragraphs{
            display: flex;
            flex-direction: column;
            width: 20vw;
            text-align: left;
            margin-left: 1em;
        }
    }
    .projectHighlights{
        display: flex;
        flex-direction: column;
        margin-top: 4em;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1900px){
    .home{
        .firstRow{
            .bioInfo{
                width: 40vw;
            }
            .paragraphs{
                width: 40vw;
            }
        }
    }
}

@media (max-width: 800px){
    .home{
        .firstRow{
            padding: 0.5em;
            padding-left: 1.5em;
            .bioInfo{
                width: 50vw;
            }
            .paragraphs{
                width: 50vw;
                margin: 0em;
            }
        }
    }
}

@media (max-width: 600px){
    .home{
        .firstRow{
            flex-direction: column;
            .bio{
                text-align: center;
                width: 100%;
                display: flex;
                margin-top: 4em;
            }
        }
    }
}